<% #今日はここのユーザーごとの表示に注目して作業を進める %>

<div class="container pageContents" style="margin-top:100px">
  
<% if logged_in? && current_user.creator == true %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
      <%= render 'shared/user_info' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>公式更新情報</h3>
      <%= render 'shared/infos' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= render 'shared/tags' %>
    </div>
  </div>
  <%= paginate(@infos) %>
  <%= page_entries_info(@infos) %>
  <% else %>
  <% if logged_in? && current_user.creator == false %>
    <div class="col-md-12">
      <h3>公式更新情報</h3>
      <%= render 'shared/infos' %>
      <%= render 'shared/tags' %>
    </div>
  <% else %>
    <%= render 'shared/tags' %>
  <% end %>
<% end %>
</div>

<% #ログインしてない場合はトップページにも表示する %>
<% unless logged_in? %>
<div style="height:600px;"></div>

<div class="col-sm-4"></div>
<div class="select_box col-sm-4 login_box">
    <span class="col-sm-12 col-xs-12" id="logo2" style="text-align:center;">Moe Creators</span>
    <span class="col-sm-12 col-xs-12" style="text-align:center; font-size:1.2em">創作活動でもっとつながる<br />イラストクリエイターがみつかるSNS</span>
    <%= link_to "一般登録", fun_new_url, class: "btn btn-mini btn-success fun col-sm-12 col-xs-12" %>
    <%= link_to "クリエイター登録", new_user_path, class: "btn btn-mini btn-warning creator col-sm-12 col-xs-12" %>
    <%= link_to "ログイン", login_url, class: "btn btn-mini btn-info select_login col-sm-12 col-xs-12" %>
</div>
<div class="col-sm-4 sita"></div>

<% end %>