<li id="user-<%= user.id %>" class="col-md-10">
<%= 
#binding.pry
if user[:avatar]==nil 
    link_to gravatar_for(user, size: 50), user
else 
    link_to (image_tag user.avatar, :size => '50x50'), user
end
%>
  <span class="user"><%= link_to user.name, user %></span>
  <span class="area"><%= user.area %></span>
  <% #binding.pry %>
  <span class="timestamp">
    Posted <%= time_ago_in_words(user.created_at) %> ago.
  </span>
</li>
<li class="col-md-2">
  <% #ページ閲覧者＝本人の場合フォロー解除できる　 %>
    <% if current_user == usr %>
        <% #binding.pry %>
        <%= link_to "フォロー解除", relationship_path(idendification: current_user.following_relationships.find_by(followed_id: user.id)), method: :DELETE,class: "btn btn-mini btn-danger" %>
    <% end %>
</li>