<% #binding.pry %>
<li id="user-<%= user.id %>">
<%= 
#binding.pry
if user[:avatar]==nil 
    link_to gravatar_for(user, size: 50), user
else 
    link_to (image_tag user.avatar, :size => '50x50'), user
end
%>
  
  <span class="user"><%= link_to user.name, user %></span>
  <span class="area"><%= user.area %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(user.created_at) %> ago.
  </span>
</li>