<table class="table table-striped">
    <thead>
        
    </thead>
    <tbody>
      <tr>
        <th scope="row">名前</th>
        <td><%= @user.name %></td>
      </tr>

      <tr>
        <td colspan="2">
        <% for i in 0..9 %>
          <% break if @tags[i]==nil %>
          <%= link_to @tags[i].name + "(" + @tags[i].draw_users.count.to_s + ")" , tags_show_path(id: @tags[i].id),class:"btn btn-info" %>
        <% end %>
        </td>
      </tr>

      <tr>
        <th scope="row">SNS</th>
        <td>
        <% for i in 0..5 %>
          <% break if @snss[i]==nil %>
          <%= link_to @snss[i].name , @snss[i].url ,class: "btn btn-success"%>
        <% end %>
        </td>
      </tr>
      
      <tr>
        <th scope="row">連絡先</th>
        <td><%= @user.email %></td>
      </tr>
      <tr>
        <th scope="row">HP</th>
        <td><%= link_to @user.hp,@user.hp %></td>
      </tr>
    </tbody>
</table>