<span class="col-md-6">
<table class="table table-striped">
    <thead>
      <tr>
        <th><span class="col-md-12">
        <%= if @user[:avatar]==nil 
          gravatar_for @user 
        else 
          image_tag @user.avatar, :size => '80x80' 
        end %>
        </span>
        </th>
        <th colspan="3"><span class="col-md-4"><%= link_to "フォロー", following_user_path(@user) ,class: "btn btn-mini btn-info" %></span>
                        <span class="col-md-4"><%= link_to "フォロワー", followers_user_path(@user) ,class: "btn btn-mini btn-info" %></span>
                        <span class="col-md-4"><%= render 'follow_form' if logged_in? %></span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">名前</th>
        <td><%= @user.name %></td>
      </tr>

      <tr>
        <th scope="row">ジャンル</th>
        <td>
          萌え
        </td>
      </tr>

      <tr>
        <th scope="row">SNS</th>
        <td>
          
        <% for i in 0..9 %>
          <% break if @snss[i]==nil %>
          <a href="<%= @snss[i].url %>"><%= @snss[i].name %></a>
        <% end %>
        </td>
      </tr>
      
      <tr>
        <th scope="row">連絡先</th>
        <td><%= @user.email %></td>
      </tr>
      <tr>
        <th scope="row">HP</th>
        <td><%= @user.hp %></td>
      </tr>
    </tbody>
</table>
</span>
<span class="col-md-4">
<hr>
<div class="row">
  <div class="col-md-12">
    <% if @user.microposts.any? %>
      <h3>情報提供 (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
        <%= paginate(@microposts) %>
        <%= page_entries_info(@microposts) %>
    <% end %>
  </div>
</div>
</span>