<table class="table table-striped">
    <thead>
      <tr>
        <th><%= gravatar_for current_user %></th>
        <th colspan="3"><%= current_user[:name] %>さんのプロフィール</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">名前</th>
        <td><%= current_user.name %></td>
      </tr>

      <tr>
        <th scope="row">年齢</th>
        <td><%= current_user.age %></td>
      </tr>

      <tr>
        <th scope="row">住まい</th>
        <td><%= current_user.area %></td>
      </tr>
      
      <tr>
        <th scope="row">連絡先</th>
        <td><%= current_user.email %></td>
      </tr>

    </tbody>
  </table>
  

</h1>