<span class="row">
  <span class="col-md-6">
    <div class="col-md-12">
      <% #画像とフォロワー %>
      <%= render 'shared/user_info2' %>
    </div>
    <div>基本情報</div>
    <div class="col-md-12">
      <% #基本情報 %>
      <%= render 'profile' %>
    </div>
  </span>

  <span class="col-md-4">
    <% if @user.work != nil %>
      <%= image_tag(@user.work,'data-action' => "zoom", style: 'height:auto;width:90%;') %> 
    <% end %>
    <% #公式ニュース %>
    <%= render 'news_info' %>
  </span>

  <span class="row">
    <span class="col-md-12">
      <section class="micropost_form">
        <%= render 'shared/tome_micropost' %>
      </section>
    </span>
  </span>
  
  <span class="row">
    <span class="col-md-12">
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </span>
  </span>
  
</span>
