<table class="table-striped">
    <thead>
      <tr><th colspan="6" style="font-size:2em;text-align:center;"><hr>今日のPick Up!!<hr></th></tr>
    </thead>
    <tbody>
    <tr colspan="6" class="mobile_none">
        <% for i in 0..5 %>
        <% if i == 0 %><td class="tag_view" background="<%= User.find_by(id:1).picture %>"><a href=<%= tags_show_path(id: @tags[i][0]) %>> <div>ロリ</div></a></td><% end %>
        <% if i == 1 %><td class="tag_view" background="<%= User.find_by(id:2).picture %>"><a href=<%= tags_show_path(id: @tags[i][0]) %>> <div>和服</div></a></td><% end %>
        <% if i == 2 %><td class="tag_view" background="<%= User.find_by(id:3).picture %>"><a href=<%= tags_show_path(id: @tags[i][0]) %>> <div>アニメ</div></a></td><% end %>
        <% if i == 3 %><td class="tag_view" background="<%= User.find_by(id:4).picture %>"><a href=<%= tags_show_path(id: @tags[i][0]) %>> <div>艦これ</div></a></td><% end %>
        <% if i == 4 %><td class="tag_view" background="<%= User.find_by(id:5).picture %>"><a href=<%= tags_show_path(id: @tags[i][0]) %>> <div>イベント</div></a></td><% end %>
        <% if i == 5 %><td class="tag_view" background="<%= User.find_by(id:6).picture %>"><a href=<%= tags_show_path(id: @tags[i][0]) %>> <div>エロゲ</div></a></td><% end %>
        <% end %>
    </tr>
    <tr>
    <% for i in 0..50 %>
        <% break if @tags[i]==nil %>
            <td colspan="2" class="col-sm-4"><%= link_to "#{Tag.find_by(id:@tags[i][0]).name}(#{@tags[i][1]})", tags_show_path(id: @tags[i][0]),class:"btn-success btn" %> </td>
        <% i += 1 %>
        <% if i % 3 == 0 && @tags[i]!=nil %>
        </tr>
        <tr>
        <% end %>
    <% end %>
    </tr>
</tbody>
</table>